.admin {
    display: flex;
    height: 75%;
    width: 100%;
}



.admin>main {
    border-left: solid 1px #ccc;
    padding-left: 2rem;
}

em {
    color: red;
}

.list {
    text-align: center;
    list-style: none;
}