#modal {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
}

#modal-background {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.1);
}

#modal-content {
    position: absolute;
    /* background-color: black; */
    background-image: linear-gradient(135deg, #000000 0%, #49bf9d 100%);
    color: white;
    /* background-image: linear-gradient(135deg, #7db183 0%, #4b4c50 100%); */
    /* background-image: url('/images/fulls/gradient.jpeg'); */
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    width: 80%;
    height: 75vh;
    border-radius: 10px;
    padding: 2rem;
    overflow-y: auto;
    overflow-x: hidden;
    box-shadow: 0px 5px 10px black;
    /* height: calc(100% - 30px); */
}
