/* .container>div>div {
  display: flex;
  align-items: flex-start;
  justify-content: center;
} */

/* 

.text {
  pointer-events: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start !important;
  align-items: flex-start !important;
  gap: 1rem;
  width: 100%;
}

.number {
  font-size: 1.5rem;
  color: white;
}

.number span {
  display: inline-block;
  position: relative;
}

.title {
  height: 5vh !important;
  width: fit-content;
  display: flex;
  align-items: flex-start !important;
  justify-content: center !important;
  font-size: 2rem;
  color: #49bf9d;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  margin-top: 18%;
}

.clip-p {
  text-indent: 10px;
  font-size: 1.2rem;
  text-align: justify;
  max-width: 2400px;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 1rem;
  border-radius: 10px;
  margin: 0;
}

.page1 {
  background-image: url('/images/fulls/family.jpeg');
  background-repeat: no-repeat;
  background-size: 500px auto;
  background-position: left;
}

.page1-bottom {
  background-image: url('/images/fulls/picket2.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  object-fit: cover;
}

.page2 {
  background-image: url('/images/fulls/construction.jpeg');
  background-repeat: no-repeat;
  background-size: 500px auto;
  background-position: left;
  object-fit: cover;
}

.page2-bottom {
  background-image: url('/images/fulls/trackhoe.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  object-fit: cover;
}

.page3 {
  background-image: url('/images/fulls/love.jpeg');
  background-repeat: no-repeat;
  background-size: 500px auto;
  background-position: left;
  object-fit: cover;
}

.page3-bottom {
  background-image: url('/images/fulls/familypic.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  object-fit: cover;
}


.slopeBegin {
  clip-path: polygon(0 0, 100% 0, 100% 45%, 0% 100%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 45%, 0% 100%);
  shape-margin: 20px;
  float: left;
}

.slopeEnd {
  clip-path: polygon(100% 43%, 0% 100%, 100% 100%);
  -webkit-clip-path: polygon(100% 45%, 0% 100%, 100% 100%);
  opacity: .4;
}

.slopeBegin,
.slopeEnd {
  position: absolute;
  width: 100%;
  height: 50vh !important;
  cursor: pointer;
} */

.lax-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.scrollimage {
  max-height: 300px;
  max-width: 300px;
  /* border-radius: 50% !important; */
}

.text {
  /* background-image: linear-gradient(135deg, #7db183 0%, #4b4c50 100%); */
  text-align: justify;
  text-indent: 15px;
  width: 90%;
  max-width: 800px;
  padding: 1rem;
  z-index: 1;
  border-radius: 10px;
  line-height: 1.5;
}

.split-page {
  display: flex;
  flex-direction: row;
  justify-content: center !important;
  align-items: center;
  align-self: center !important;
  width: 100%;
  height: 100%;
  /* max-width: 1440px; */
}

.split-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: justify;
  align-items: center;
  width: 48vw;
  height: 100%;
  padding: 1%;
  line-height: 1.5;
  background-image: linear-gradient(135deg, #000000 0%, #4b4c50 100%);
}

.split-text > p {
  width: 90%;
  text-indent: 15px;
  max-width: 800px;
  margin: 0;
}

.split-picture {
  width: 48vw;
  height: 100%;
  padding: 1%;
  object-fit: cover;
}

.remix-app__footer {
  display: none;
}

.sticky-left {
  width: 50vw;
  height: 100%;
  float: left;
}

.sticky-right {
  width: 50vw;
  height: 100%;
  float: right;
}

.sticky-right-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: justify;
  text-indent: 15px;
  padding: 2vw;
  width: 46vw;
  height: 100%;
  float: right;
  font-size: 1.2rem;
}


@media screen and (max-width: 1000px) {
  .split-page {
    flex-direction: column;
  }

  .split-text {
    width: 100%;
    height: 50%;
  }

  .split-picture {
    width: 100%;
    height: 50%;
  }

  .sticky-left {
    display: none;
  }

  .sticky-right-text {
    width: 96vw;
    font-size: 1rem;
  }
}


