.projects {
    padding-bottom: 5vh;
    gap: 2vh;
    display: flex;
    flex-direction: column;
    gap: 3vh;
}

.project_header {
    font-size: 2.5rem;
    padding-left: 1em;
    padding-top: 3em;
    border-bottom: 10px solid rgba(73, 191, 157, 0.2);
}

.text > h2 {
    font-size: 2.5rem;
}

.text > p {
    text-indent: 15px;
    text-align: left;
    font-size: 1.2rem;
}

.tech {
    background-color: rgba(73, 191, 157, 0.2);
    display: flex;
    justify-content: center;
    padding: .5em;
    gap: 1em;
    overflow-x: scroll;
    border-radius: 10px;
}

.tech > img {
    width: 2em;
    height: 2em;
    margin: 0 .5em;
}

.slantRight {
    transform: skewY(-11deg);
    padding: 2rem;
    align-items: flex-end;
}

.slantLeft {
    transform: skewY(11deg);
    padding: 2rem;
    align-items: flex-start;
}

.noSlant {
    padding: 2rem;
    align-items: center;
    transform: skewY(0deg);
}

@media screen and (max-width: 980px) {

    .tech > img {
        width: 1.5em;
        height: 1.5em;
    }


}

@media screen and (max-width: 480px) {
    
    .tech > img {
        width: 1.5em;
        height: 1.5em;
    }

}