.projects {
    padding-bottom: 5vh;
    gap: 2vh;
    display: flex;
    flex-direction: column;
    gap: 3vh;
}

.project {
    border-bottom: 10px solid rgba(75, 78, 77, 0.2);
}

.project_header {
    font-size: 4.5rem;
    padding-left: 1rem;
    padding-top: 2rem;
    border-bottom: 10px solid rgba(73, 191, 157, 0.2);
    color: #49bf9d;
}

.text {
    /* background-image:url('/images/fulls/gradient.jpeg'); */
    /* background-size: cover; */
    height: 400px;
    margin: 0 0 2em 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.text > h2 {
    font-size: 3.5rem;
    color: #49bf9d;
    margin: 0;
}

.text > p {
    text-indent: 15px;
    text-align: left;
    font-size: 1.2rem;
}

.tech {
    background-image: linear-gradient(135deg, #7db183 0%, #4b4c50 100%);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: white;
    display: flex;
    justify-content: center;
    padding: .5em 0;
    gap: 1em;
    overflow-x: scroll;
    border-radius: 10px;
}

.tech > img {
    width: 2em;
    height: 2em;
    margin: 0 .2em;
}

.slantRight {
    /* transform: skewY(-11deg); */
    /* clip-path: polygon(100% 0%, 50% 100%, 0 0); */
    /* align-items: flex-end; */
}

.slantLeft {
    /* clip-path: polygon(0% 100%, 100% 100%, 50% 0%); */
    /* align-items: flex-start; */
}

.noSlant {
    padding: 2rem;
    align-items: center;
    transform: skewY(0deg);
}

.images {
    text-align: left;
    width: 100%;
}

.images > div {
    cursor: pointer;
    position: absolute;
    left: 5%;
    width: 90%;
    will-change: transform,
    opacity;
    text-shadow: 0px 2px 40px #00000020,
    0px 2px 5px #00000030;
    -webkit-user-select: none;
    user-select: none;
    max-width: 1800px;
    background-image: linear-gradient(100deg, #276a8b 0%, #12b3ee 100%);
    border-radius: 10px;
    padding: 1em;
}

.images > div > img {
    object-fit: contain;
    height: 500px;
    border-radius: 10px;
    box-sizing: content-box;
}

iframe {
    width: 100%;
    height: 500px;
    box-sizing: content-box;
    border: none;
}

@media screen and (max-width: 980px) {

    .tech > img {
        width: 1.5em;
        height: 1.5em;
    }


}

@media screen and (max-width: 480px) {
    
    .tech > img {
        width: 1.5em;
        height: 1.5em;
    }

}